<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Compeleted Task List:</h1>
        <ul>
            <li v-for="todo in todos" v-if="todo.isCompleted">
                {{todo.title}}
            </li>
        </ul>

        <h1>Not Compeleted Task List:</h1>
        <ul>
            <li v-for="todo in todos" v-if="!todo.isCompleted">
                {{todo.title}}
            </li>
        </ul>

        <!-- 类似于 v-if，你也可以利用带有 v-for 的 <template> 来循环渲染一段包含多个元素的内容 -->

        <h1>All Task List:</h1>
        <ul>
            <template v-for="todo in todos">
                <li>
                    <span>任务序号：{{todo.id}}</span>
                    <span>任务名称：{{todo.title}}</span>
                    <span>完成情况：{{todo.isComplete ? '已完成':'未完成'}}</span>
                </li>
            </template>
        </ul>
    </div>


    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                todos: [
                    {
                        id: 1,
                        title: 'Learn Java',
                        isCompleted: true
                    },
                    {
                        id: 2,
                        title: 'Learn Go',
                        isCompleted: false
                    },
                    {
                        id: 3,
                        title: 'Learn Python',
                        isCompleted: false
                    },
                ]
            }
        })        
    </script>
</body>

</html>