<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Example 40</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <custom-input v-model="searchText"></custom-input>
    </div>


    <script>

        // 自定义事件也可以用于创建支持 v-model 的自定义输入组件。记住：
        // <input v-model="searchText">
        // 等价于：
        // <input v-bind:value="searchText" v-on:input="searchText = $event.target.value">

        // 为了让它正常工作，这个组件内的 <input> 必须：
        // 将其 value attribute 绑定到一个名叫 value 的 prop 上
        // 在其 input 事件被触发时，将新的值通过自定义的 input 事件抛出

        // 如果自定义组件不对value进行定义的话，vue认为value不是响应式的，就会有这个报错
        // vue.js:634 [Vue warn]: Property or method "value" is not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option, or for class-based components, by initializing the property. See: https://vuejs.org/v2/guide/reactivity.html#Declaring-Reactive-Properties.
        // found in
        // ---> <CustomInput>
        //     <Root>
        // 所以务必要注意以下对于value的定义
        // data: function () {
        //     return {
        //         value: ''
        //     }
        // },    

        Vue.component('custom-input', {
            props: ['value'],
            template: `
                <input style="border-radius: 5px;border-color: #66afe9;outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)"
                    v-bind:value="value" v-on:input="$emit('input', $event.target.value)" placeholder="输入框默认内容"
                />
            `
        })

        var vm = new Vue({
            el: '#app',
            data: {
                searchText: ''
            }
        })        
    </script>
</body>

</html>