<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Example 44</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div id="app">
        <!-- <base-input v-model="searchText" v-bind:label="labelText" v-on:focus="onFocus"></base-input> -->
        <base-input v-model="searchText" :label="labelText" v-on:focus="onFocus"></base-input>
    </div>

    
    <script>
        // 自定义组件，这个组件最外层元素是一个label（或是其他不可能出发focus事件的元素）
        // 那么需要从父级添加所有的监听器

        Vue.component('base-input', {
            inheritAttrs: false,
            props: ['label', 'value'],
            computed: {
                inputListeners: function () {
                    var vm = this
                    // `Object.assign` 将所有的对象合并为一个新对象
                    return Object.assign({},
                        // 我们从父级添加所有的监听器
                        this.$listeners,
                        // 然后我们添加自定义监听器，
                        // 或覆写一些监听器的行为
                        {
                            // 这里确保组件配合 `v-model` 的工作
                            input: function (event) {
                                vm.$emit('input', event.target.value)
                            }
                        }
                    )
                }
            },
            template: `
                <label>
                {{ label }}
                <input
                    v-bind="$attrs"
                    v-bind:value="value"
                    v-on="inputListeners"
                >
                </label>
            `
        })

        var vm = new Vue({
            el: '#app',
            data: {
                searchText: '',
                labelText: 'Hint'
            },
            methods: {
                onFocus: function () {
                    console.log('onFocus')
                }
            }
        })        
    </script>
</body>

</html>